/** {*/
    /*border: solid white 5px;*/
/*}*/

body {
    background: black;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    text-align: center;
}

#banner {
    width: 90%;
    height: 300px;
    margin: auto;
    display: block;
    top: 0;
    position: absolute;
}

#banner-title {
    position: absolute;
    top: 300px;
    width: 98%;
    text-align: center;
}

#content-body {
    position: absolute;
    top: 400px;
    text-align: center;
    width: 98%;
    font-family: 'Domine', serif;

}

#table-body {
    width: inherit;
    text-align: center;
    display: table;
}

td {
    margin: 20px 0;
}

.info-box {
    display: table-cell;
    width: 50%;
    height: 300px;
    overflow: hidden;
    border: ridge greenyellow 5px;
    border-radius: 15px;
}

.learn-more {
    text-decoration: underline;
}

#rick-pic {
    width: 500px;
    height: 300px;
}

#rick-info-guide {
    cursor: pointer;
}

#morty-pic {
    width: 500px;
    height: 300px;
}

#morty-info-guide {
    cursor: pointer;
}

#meeseeks-pic {
    width: 500px;
    height: 300px;
}

#meeseeks-info-guide {
    cursor: pointer;
}

#birdperson-pic {
    width: 500px;
    height: 300px;
}

#birdperson-info-guide {
    cursor: pointer;
}
